<div id = "container">
</div>

<div id = "header">
<h1>BEER BLOG</h1>
</div>


<div id = "validation">
	<div id = "validation2">
		</div>
	<h3>Are you over 21?</h3><link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
	<h2><%= link_to "Yes", login_path %></h2>
	<h2><%= link_to "No", forbidden_path %></h2>
		</div>
</div>
