

#header{
	width: 100%
	height 200px;
	font-family: 'Boogaloo', cursive;
	color:#412310;
	background-color:#e2e3e2;
	text-align: left;
	border: solid;
	border-color: #C23E02;
}

#validation{
	height: 400px;
	width: 200px;
	margin-top: 20%;
	margin-left: 40%;
	background-color:#e2e3e2;
	color:#412310;
	text-align: center;
	text-decoration: none;
	border: solid;
	border-color: #C23E02;
	font-size: 12px;

}

#validation2{
	width: 200px;
	height: 25px;
	background-color: #C23E02;
}

#footer{
	height:50px;
	font-family: 'Boogaloo', cursive;
	color:#412310;
	background-color:#ee3523;
	text-align: center;
	border: solid;
	border-color: #412310;
}
